<p style="width:500px">
    <label for="ma-param">Moving Average Filter:</label>
    <input class="mdl-slider mdl-js-slider" type="range" id="ma-param" min="1" max="10" value="{{ma-param}}" step="1">
</p>
<p style="width:500px">
    <label for="update-param">Live update interval:</label>
    <input class="mdl-textfield__input" type="text" id="update-param" value="{{update-param}}">
</p>